/*------/ FontAwesome CDN  /------*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/*------/ Google Fonts  /------*/

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body:not(i) {
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Roboto Mono', monospace; */
}

body {
	/* background-color: #EDDFD8; */
	color: #4923F4;
	/* color: #EDDFD8; */
}

.link {
	text-decoration: none;
	color: #4923F4;
}

.btn-a, .btn-b:hover {
	background-color: #EDDFD8;
	border: 3.5px solid #4923F4;
	padding: 7px 10px;
	color: #4923F4;
}

.btn-a:hover {
	color: #FFFFFF;
	background-color: #4923F4;
}

.btn-b {
	background-color: #4923F4;
	border: 3.5px solid #4923F4;
	padding: 7px 10px;
	color: #EDDFD8;
}

.highlight {
	color: #FFFFFF;
	background-color: #4923F4;
	padding: 0 5px 0 5px;
}

nav a {
    color: #000000;
}

.navbar {
	margin-left: 30px;
	margin-right: 20px;
}

.nav-item a {
	color: #000000;
}

.navbar-light .navbar-toggler, .navbar-toggler i {
	color: #000000;
	border: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler i:focus {
    outline: none;
    border: none;
    box-shadow: none;
	border: 0px;
}

/*------/ INTRO /------*/

#intro {
	color: #4923F4;
}

#intro-title {
	margin: 200px 0 178px 50px;
	max-width: 900px;
}

#intro-title p {
	margin-top: 40px;
}

#intro-title a:hover {
	color: #FFFFFF;
	background-color: #4923F4;
}

/*------/ ABOUT /------*/

#about {
	color: #4923F4;
}

.diagonal-bg {
	background-color: #EDDFD8;
	transform: skewY(-6deg);
} 

.content { 	
	max-width: 50em;
	transform: skewY(6deg);
	padding: 100px 0 100px 0;
}

.title {
	padding-bottom: 80px;
	text-align: center;
	/* color: #4923F4; */
}

.photo {
	width: 280px;
	height: 280px;
}

#about p {
	font-size: 20px;
}

.section-content {
	width: 800px;
	display: flex;
}

#about .section-content {
	gap: 100px;
}

#about button {
	margin-top: 20px;
}

/*------/ PROJECT /------*/

#project {
	margin-top: 150px;
	margin-bottom: 150px;
	color: #4923F4;
}

#project article {
	margin-bottom: 150px;
}

#project .section-content {
	width: 1000px;
}

#project article {
	gap: 70px;
}

#project h4 {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

#project p {
	color: #000000;
}

.pro-description > p {
	font-size: 20px;
}

.pro-description a {
	color: #000000;
	text-decoration: none;
}

.tech-used {
	font-size: 18px;
}

.tech-used span {
	margin-bottom: 10px;
}

.pro-links a {
	font-size: 20px;
	text-decoration: none;
	color: #4923F4;
	border-bottom: 3px solid #4923F4;
	display: inline;
	margin-right: 10px;
}

#project a:hover {
	color: #FFFFFF;
	background-color: #4923F4;
}

/* .photo-wrapper{
	width: 450px;
	border: 2px solid #4923F4;
	padding: 10px;
} */

.project-photo {
	width: 450px;
	height: 300px;
}

