/*------/ FontAwesome CDN  /------*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

/*------/ Google Fonts  /------*/

/* Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*:not(i) {
	font-family: 'Oswald', sans-serif;
	/* font-family: 'Roboto Mono', monospace; */
}

* {
	color: #4923F4;
	/* color: #EDDFD8; */
}

.link {
	text-decoration: none;
	color: #4923F4;
}


.highlight {
	color: #FFFFFF;
	background-color: #4923F4;
	padding: 0 5px 0 5px;
}

nav a {
    color: #000000;
}

.navbar {
	margin-left: 30px;
	margin-right: 20px;
}

.nav-item a {
	color: #000000;
}

.navbar-light .navbar-toggler, .navbar-toggler i {
	color: #000000;
	border: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler i:focus {
    outline: none;
    border: none;
    box-shadow: none;
	border: 0px;
}

/*------/ INTRO /------*/

#intro-title {
	margin: 200px 0 178px 50px;
	max-width: 900px;
}

#intro-title p {
	margin-top: 40px;
}

#intro-title a:hover {
	color: #FFFFFF;
	background-color: #4923F4;
}

/*------/ ABOUT /------*/

.diagonal-bg {
	background-color: #EDDFD8;
	transform: skewY(-6deg);
} 

.content { 	
	max-width: 50em;
	transform: skewY(6deg);
	padding: 100px 0 100px 0;
}

.diagonal-title {
	padding-bottom: 80px;
	text-align: center;
}

.photo {
	width: 280px;
	height: 280px;
}

#about p {
	font-size: 20px;
}

#about-content {
	width: 800px;
	display: flex;
	gap: 100px;
}